$height72: calc(100vh - 72px);
$height144: calc(100vh - 144px);

.wrapper, .row {
  height: 100vh;
}

.header {
  height: 72px;
  background-color: black;
}
.custom-grid > div {
  position: relative;
  height: $height72;
}

.custom-grid {
  position: relative;
  color: gray;
  height: $height72;
  //background-color: purple;
  :nth-child(1) {
    //height: $height144;
  }
  :nth-child(2) {
    // height: $height144;
  }
}

.content {
  height: $height144;
}
.footer {
  background-color: red;
  height: 72px;
  //padding-right: 15px;
  //padding-left: 15px;
}

.footer2{
    background-color: blue;
  height: 72px;
}

.verde {
  background-color: green;
}

.papaya {
  background-color: salmon;
}



// -------=========------- DE AQUI PARA ABAJO

.listContainer {
  height: $height72;
  background-color: #f9f9f9;
}
.listContainer > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listContainer > ul > li {
  list-style: none;
  margin: 0;
  padding-left: 3.5rem;
  border: 1px solid #E6E6E6;
  background-color: #f9f9f9;
  line-height: 5rem;
}
.listArrow {
  color: black;
  position: absolute;
  left: 85%;
  // position: relative;
}