* {
  font-family: "Helvetica Neue";
}
.wrapper {
  height: 100vh;
}
.navBar {
  background-color: #3e3044;
  height: 8.6767vh;
}
.logo {
  color: #fff;
  padding-left:61px;
  padding-top: 2rem;
  float: left;
}
.navBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 8.6767vh;
}
.unorderList {
  list-style: none;
  display: inline-block;
  float: left;
}
.navBar--list {
  float: left;
}
.links {
  line-height: 80px;
  padding-left: 30.5px;
  padding-right: 30.5px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
  font-size: 15.251px;
  font-family: "Helvetica Neue";
  color: rgb(128, 115, 133);
  -moz-transform: matrix( 1,0,0,1.04914527476121,0,0);
  -webkit-transform: matrix( 1,0,0,1.04914527476121,0,0);
  -ms-transform: matrix( 1,0,0,1.04914527476121,0,0);
}
.links:hover {
  opacity: 0.7;
  text-decoration: none;
  color: rgb(128, 115, 133);
}
.navBar-button {
  display: inline-block;
  padding-top: 21px;
  padding-right: 61px;
  padding-left: 30.5px;
  padding-bottom: 15px;
}
.buttonHeader {
  background-color: transparent;
  border: 1px solid rgb(128, 115, 133);
  border-radius: 4px;
  outline: none;
  margin-bottom: 15px;
}
.buttonHeader:hover {
  opacity: 0.7;
  color: rgb(128, 115, 133);
}
.navBarLetters {
  color: rgb(128, 115, 133);
  line-height: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
.modalLogin {
  font-family: "Helvetica Neue";
  border-radius:8px;  
  background-color:#f1f1f1;
  height: 60vh;
  width: 45%;
  top: 24.6987vh;
  margin: 0px 27.5% 0px 27.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  box-shadow: 0px 11px 122px 0px rgba(21, 15, 24, 0.25);
}
.imageLogoModal {
  margin-top: 91px;
}
.title{
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 25.351px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.inputEmail{
  border-radius: 8px;
  background-color: white;
  font-size: 18px;
  outline: none;
  margin-bottom: 4%;
  border: none;
  height: 7vh;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-left:10px;
  color: rgb(159, 163, 167);
  font-size: 15.251px;
}
.inputPwd{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
  background-color: white;
  font-size: 18px;
  outline: none;
  border: none;
  height: 7vh;;
  width: 80%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-left: 10px;
  color: rgb(159, 163, 167);
  font-size: 15.251px;
  float: left;
}
.buttonArrow{
  background-color: #20a766;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; 
  float: left;
  width: 20%;
  box-shadow: none;
  border: none;
  height: 7vh;
  outline: none;
}
.arrowSubmit{
  height: 40%;
}
.p__login--left{
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(121, 58, 152);
  font-weight: bold;
  line-height: 1.625;
  text-align: left;
}
.p__login--center{
  font-size: 15.251px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: rgb(130, 134, 139);
  line-height: 1.705;
  text-align: center;
  margin-left: 0.5rem;
}
.image-background {
  background-image: url('../../images/backgroundLogin.jpg');
  height: 37.1084vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  position: relative;
  z-index: -1;
}

@media only screen and (max-width : 1153px) and (min-width : 683px) {
  .image-background {
    top: -70px;
  }
}
@media only screen and (max-width : 682px) {
  .image-background {
    display: none;
  }
  .modalLogin {
    margin: 0;
    width: 100%;
    height: 100vh;
    top: 55px;
    left: 0;
    z-index: -1;
  }
}
@media only screen and (max-width: 670px) {
  .navBarLinks {
    display: none;
  }
}